/* header, navigation bar, and dropdown menu styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none
}

nav {
    margin-right: 350px;
}

nav ul li a {
    color: rgb(19, 18, 18);
    text-decoration: none;
}

.dropdown { 
    position: relative; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

body {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

    
/* Style the search input field */

.search-bar {
    margin-bottom: 10px;
    margin-top: 60px;
}

label{
    font-size: 30px;
    margin-bottom: 50px;
}

input[type="text"] {
    width: 500px;
    height: 45px;
    font-size: 20px;
    vertical-align: top;
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

select {
    display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Style the detail page information sections */
.detail-info{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 10px;
}

.part-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 50px;
}

.slogan {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.carded-parts {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 380px;
    object-fit: cover;
    vertical-align: top;
}

.filter-options {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 40px;
}


