/* header, navigation bar, img, and dropdown menu styles */
header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(245, 241, 241);
}

/* main backround color */
body{
    color: rgb(0, 0, 0);
    background-color: rgb(252, 250, 255);
}
/* link styles */
a{
    text-decoration: none;
    color: black;
}

/* navigation bar styles */
nav ul{
    display: flex;
    gap: 20px;
    list-style: none
}

nav {
    margin-right: 350px;
}

nav ul li a {
    color: rgb(248, 244, 244);
    text-decoration: none;
}

.dropdown { 
    position: relative; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 0px;
}



/* Style the search, select, label and input and buttons filters */

.search-bar {
    margin-bottom: 10px;
    margin-top: 60px;
    width: 70%;
}

label{
    font-size: 30px;
    margin-bottom: 50px;
}

input[type="text"] {
    width: 400px;
    height: 45px;
    font-size: 20px;
    vertical-align: top;
    border-radius: 25px;
}

/* sumbit button style */
input[type="submit"], .button {
    width: auto;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    display: inline-block;
    background-color: rgb(0, 0, 1);
    color: white;
    cursor: pointer;
    vertical-align: center;
}

.home-search-bar{
    display: block;
    margin-top: 50px;
}


.button{
    display: inline-block;
    vertical-align: center;
    height: auto;
    text-align: right;
}

input[type="submit"]:hover, .button:hover {
    background-color: rgb(47, 2, 103);
}

select {
    display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}

.filter-options {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 40px;
}


.filter-category {
    padding-left: 8px;
}

.filter-brand {
    padding-left: 44px;
}

.filter-sort {
padding-left: 25px;
}

.filter-button{
    display: block;
}


/* Style the detail page information sections */
.detail-info{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 10px;
}

.part-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin-bottom: 80px;
    margin-top: 20px;
    box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.5);
    
}

.stock {
    color: rgb(20, 172, 0);
}

.key-details {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
}






/* homepage slogan and featured items */
.slogan {
    display: inline-block;
    vertical-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    margin-right: 200px;
}

.featured {
    font-size: 30px;
    padding: 10px 20px 20px 20px;
}

/* style for carded parts */
.carded-parts {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 15px;
    text-align: center;
    width: 250px;
    height: 400px;
    object-fit: cover;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.part-category {
    background-color: rgb(217, 191, 250);
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}

.part-price, .part-category{
    color: rgb(61, 0, 175);
}





/* Add a hover effect to the carded parts */
.carded-parts:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


