<!-- Base Template -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>PC Parts</title>
</head>

<body>

    <!-- Header -->
    <header>
        <h1>Jesher's PC Parts</h1>

        <!-- Navigation Bar/routes -->
         <nav>
            <!-- list of navigation items -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/parts">All Parts</a></li>
                <li class="dropdown"> <!-- Dropdown menu for categories -->
                    <a href="#">categories</a>
                    <div class="dropdown-content">
                        <a href="/parts/cpu">CPU</a>
                        <a href="/parts/gpu">GPU</a>
                        <a href="/parts/ram">RAM</a>
                    </div>    


                </li>
                            
            </ul>


        </nav>
    </header>

   


    <div class="page">
        {% block content %}{% endblock %}
    </div>
</body>

</html>