{% extends "base.html" %}
{% block content %}
<!-- Display part information here -->
 <!--two columns, one for the image and one for the details -->
 <div class="detail">
    <div class="detail-info">
        <img src="{{ url_for('static', filename=part[4]) }}" alt="{{ part[0]}}">
        <!-- part details name, brand,category, price, specifications, and description -->
        <h1>{{ part[0] }}</h1>
        <h2>{{ part[1] }} | {{ part[2] }} | ${{ part[3] }}</h2>
    </div>

    <div class="detail-specs">
        <h3>Specifications</h3>
        <p>{{ part[4] }}</p>
    </div>

    
    <div class="detail-other">
        <h2>other stuff</h2>
        <h3> price tier: {{ part[6] }} </h3>
        <h3> rating: {{ part[7] }}</h3>
    </div>
</div>


<div class="detail-description">
    <h3>Description</h3>
    <p>{{ part[5] }}</p>
</div>
{% endblock %}
