{% extends 'base.html' %}
{% block content %}

<div class="slogan">
   <h1>Find the best <br> PC part, every time</h1>
</div>

 <form class="home-search-bar" method="post" action="/search">
            <label for="search">Search for a part:</label>
            <input type="text" id="search" name="search">
           <input  type="submit" value="Search">
        </form>



{% for part in results %}
<!-- then the name then the image -->
 <div class="top-parts">
    <h1> {{ part[0] }} </h1>
    <h2>{{ part[1] }} | {{ part[2] }} | ${{ part[3] }}</h2>
    <img src="{{ url_for('static', filename=part[4]) }}" alt="{{ part[0]}}">
 </div>
 
{% endfor %}
{% endblock %}