{% extends 'base.html' %}
{% block content %}

<div class="slogan">
   <h1>Find the best <br> PC part, every time</h1>
</div>

 <form class="home-search-bar" method="post" action="/search">
            <label for="search">Search for a part:</label>
            <input type="text" id="search" name="search">
           <input  type="submit" value="Search">
        </form>



{% for part in results %}
<!-- then the name then the image -->
 <div class="carded-parts">
    <img src="{{ url_for('static', filename=part[1]) }}" alt="{{ part[2] }}">
    <h1> <a href="/detail/{{ part[0] }}" class="part">{{ part[2] }}</a> </h1>
    <h2>{{ part[3] }} | {{ part[4] }} | ${{ part[5] }}</h2>
 </div>
 
{% endfor %}
{% endblock %}