{% extends "base.html" %}
{% block content %}
    <h1>Parts</h1>
    <!-- search bar -->
        <form class="search-bar" method="post" action="/search">
            <label for="search">Search for a part:</label>
            <input type="text" id="search" name="search">
           <input  type="submit" value="Search">
        </form>

    </div>
<!-- table to display all the parts, with the name, brand, price, category and release year -->

    {% for part in results %}
    <a href="/detail/{{ part[0] }}" class="part-link">
        <div class="carded-parts">
            <img src="{{ url_for('static', filename=part[1]) }}" alt="{{ part[2] }}">
            <h1>{{ part[2] }}</h1>
            <h2>{{ part[3] }} | {{ part[4] }} | ${{ part[5] }}</h2>
        </div>
    </a>
    {% else %}
        <p>No parts found.</p>
    {% endfor %}
{% endblock %}
