{% extends "base.html" %}
{% block content %}
    <h1>Parts</h1>
    <!-- search bar -->
        <form class="search-bar" method="post" action="/search">
            <label for="search">Search for a part:</label>
            <input type="text" id="search" name="search">
           <input  type="submit" value="Search">
        </form>

    </div>

<!-- filter options using form-->
 <form class="filter-options" method="get" action="/parts">
    <h2>Filter Options</h2>
    <select name="brand">
        <option value="">All Brands</option>
        <option value="amd">AMD</option>
        <option value="intel">Intel</option>
        <option value="nvidia">NVIDIA</option>
        <option value="corsair">Corsair</option>
        <option value="kingston">Kingston</option>
        <option value="gigabyte">Gigabyte</option>
    </select>
    
    <select name="price_tier">
        <option value="">All Price Points</option>
        <option value="1">Budget</option>
        <option value="2">Mid-Range</option>
        <option value="3">High-End</option>
    </select>

    <input type="submit" value="search">
 </form>
<!-- for loop to display all the parts, with the name, brand, price, category -->

    {% for part in results %}
    <a href="/detail/{{ part[0] }}" class="part-link">
        <div class="carded-parts">
            <img src="{{ url_for('static', filename=part[1]) }}" alt="{{ part[2] }}">
            <h1>{{ part[2] }}</h1>
            <h2>{{ part[3] }} | {{ part[4] }} | ${{ part[5] }}</h2>
        </div>
    </a>
    {% else %}
        <p>No parts found.</p>
    {% endfor %}
{% endblock %}
