{% extends "base.html" %}
{% block content %}
    <h1>Parts</h1>
    <!-- search bar -->
        <form class="search-bar" method="post" action="/search">
            <label for="search">Search for a part:</label>
            <input type="text" id="search" name="search">
           <input  type="submit" value="Search">
        </form>

    </div>
<!-- table to display all the parts, with the id, name, brand, price, category and release year -->
 <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Release year</th>
        </tr>

    {% for part in results %}

        <tr>
            <td>{{ part[0] }}</td>
            <td><a href="/detail/{{ part[0] }}" class="part">{{ part[1] }}</a></td>
            <td>{{ part[2] }}</td>
            <td>${{ part[3] }}</td>
            <td>{{ part[4] }}</td>
            <td>{{ part[5] }}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
