{% extends "base.html" %}

{% block content %}
    <h1>Search Results</h1>
    <p>Showing results for "{{ query }}":</p>
    <!-- Display search results here in a loop -->

    <!-- table to display all the parts, with the id, name, brand, price, category and release year -->
 <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Category</th>
            <th>Release year</th>
        </tr>

    {% for part in results %}

        <tr>
            <td><a href="/detail/{{ part[0] }}" class="part">{{ part[1] }}</a></td>
            <td>${{ part[2] }}</td>
            <td>{{ part[3] }}</td>
            <td>{{ part[4] }}</td>
            <td>{{ part[5] }}</td>
    {% else %}
        <tr>
            <td colspan="6">No results found.</td>
        </tr>
    {% endfor %}
        </tr>
    </table>
{% endblock %}