{% extends "base.html" %}

{% block content %}
    <h1>Search Results</h1>
    <p>Showing results for "{{ GET }}":</p>
    <!-- Display search results here in a loop -->

<!-- for loop to display all the parts -->

    {% for part in results %}
    <a href="/detail/{{ part[0] }}" class="part-link">
        <div class="carded-parts">
            <img src="{{ url_for('static', filename=part[1]) }}" alt="{{ part[2] }}">
            <h2>{{ part[2] }}</h2> <!-- name -->
            <h3>{{ part[4] }}</h3> <!-- brand -->
            <h3 class="part-category">{{ part[3] }}</h3> <!-- category -->
            <h3 class="part-price">${{ part[5] }}</h3> <!-- price -->
        </div>
    </a>
    {% else %}
        <p>No products match your selected filters. Try changing your category, brand, or price tier.</p>
    {% endfor %}
{% endblock %}